{#{% for article in articles %}#}
    {#<a href="{{ path('product_category_index', {'id': article.id}) }}">#}
        {#{{ article.name }}#}
    {#</a>#}
{#{% endfor %}#}





{#{% extends 'base2.html.twig' %}#}
        {#{% block body2 %}#}
            <ul>
                <li><a href="/">MainPage</a></li>
                <li><a href="{{ path('product_category_index') }}">Categories</a>
                        {% for article in articles %}
                            <ul>
                                <li><a href="{{ path('product_category_show', {'id': article.id}) }}">{{ article.name }}</a></li>
                            </ul>
                        {% endfor %}
                </li>
            </ul>

        {#{% endblock %}#}