{% extends 'baselibrary.html.twig' %}

{% block title %}Gatunek index{% endblock %}

{% block body %}
    <h1>Gatunek index</h1>

    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nazwa</th>
                <th>Opis</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gatunek in gatuneks %}
            <tr>
                <td>{{ gatunek.id }}</td>
                <td>{{ gatunek.nazwa }}</td>
                <td>{{ gatunek.opis }}</td>
                <td>
                    <a href="{{ path('gatunek_show', {'id': gatunek.id}) }}">show</a>
                    <a href="{{ path('gatunek_edit', {'id': gatunek.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% for message in app.flashes('note') %}
        <div>
            {{ message }}
        </div>
    {% endfor %}

    <a href="{{ path('gatunek_new') }}">Create new</a>
{% endblock %}
